/**
 * Blog feed styles.
 */

 .blog-feed {
  padding: 17px 25px 24px 31px;
  background-color: #D9D9D9;
 }

 .blog-feed__title {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
 }